.topbar {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    color: #15023a;
    position: fixed;
    top: 0;
    z-index: 2;
}

.wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}